<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8" />
    <title>{% block title %}Welcome{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link href="{{ asset('bundles/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/plugins/daterangepicker/daterangepicker-bs3.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/plugins/morris/morris.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/plugins/iCheck/flat/blue.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/plugins/datepicker/datepicker3.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/dist/css/skins/_all-skins.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/dist/css/AdminLTE.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />

</head>

<body class="hold-transition skin-blue sidebar-mini" >
{% block body %}

{% endblock %}


{% block contents %}



{% endblock %}



{% block footer %}

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('bundles/plugins/jQuery/jQuery-2.1.4.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/dist/js/app.min.js') }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.14/daterangepicker.min.js"></script>

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>



{% endblock %}
</body>
</html>

