{% extends 'base.html.twig' %}

{% block cssblock %}

    <link href="{{ asset('bundles/dist/css/AdminLTE.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/dist/css/skins/_all-skins.min.css') }}" rel="stylesheet" />
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('bundles/dist/css/skins/_all-skins.min.css') }}">

{% endblock cssblock %}


{% block script%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>


        $(document).ready(function(){


            $( "#member_facultyname" ).change(function() {
                $("#member_dept_name").empty();
                //$("#member_dept_name option[value='NON']").remove();

                if( $( "#member_facultyname" ).val()=="arfac"){

                    $('#member_dept_name').append($('<option>', {
                        value: 'TCP',
                        text: 'Town And Contry Planning'
                    }));
                    //

                }

                else if($( "#member_facultyname" ).val()=="efac"){
                    $('#member_dept_name').append($('<option>', {
                        value: 'CSE',
                        text: 'Computer Science And Engineering'
                    }));

                }

                else if($( "#member_facultyname" ).val()=="ndt"){

                }



            });
        });
    </script>

    <script>
        $(document).ready(function(){
            $("#member_birthday").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});
        });
        </script>

    <script>
        $(document).ready(function() {


            $('#form_daterange').daterangepicker();
            $('#event_daterange').daterangepicker();

            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                format: 'MM/DD/YYYY h:mm A'
            });
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                    {
                        ranges: {
                            'Today': [moment(), moment()],
                            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                            'This Month': [moment().startOf('month'), moment().endOf('month')],
                            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        },
                        startDate: moment().subtract(29, 'days'),
                        endDate: moment()
                    },
                    function (start, end) {
                        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                    }
            );
        });

    </script>
{% endblock script %}

    {% block  profileroot %}
        {%  if profile == true %}
        <section class="content">

            <div class="row">
                <div >

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="{{ asset('bundles/dist/img/'~ app.user.username ~'.jpg') }}" alt="User profile picture">

                            <h3 class="profile-username text-center">M.N.S Perera</h3>

                            <p class="text-muted text-center">System Administrator</p>

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>nisgha56@gmail.com</b> <a class="pull-right"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>0772080907</b> <a class="pull-right"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>No 56, Katuwawala Road ,Maharagama </b> <a class="pull-right"></a>
                                </li>
                            </ul>


                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

    {% endblock  profileroot%}


    {%  block root %}


        <section class="content">

            {%  if table == true %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Hover Data Table</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>

                                    {% for rows in col|batch(3) %}

                                        <tr>

                                            {% for column in rows %}
                                                <th>{{ column }}</th>
                                            {% endfor %}

                                        </tr>

                                    {% endfor %}

                                    </thead>
                                    <tbody>
                                    {% for rows in row|batch(3) %}
                                        {% for a in rows %}
                                            <tr>

                                                {% for column in a %}
                                                    <td>{{ column }}</td>
                                                {% endfor %}

                                            </tr>
                                        {% endfor %}
                                    {% endfor %}


                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                    </div>

                </div>
            {% endif %}

            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            <!-- form start -->
            {% if error_description is defined %}
            <div class="row">
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                    {{ error_description }}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <!-- SELECT2 EXAMPLE -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ title }}</h3>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">

                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </section>



    {%  endblock %}
{% block javascript2 %}
    <script src="{{ asset('bundles/dist/js/demo.js') }}" ></script>

{% endblock javascript2 %}